:root {
  --white: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);
  --brown-900: hsl(18, 49%, 18%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

html {
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  max-width: 800px;
}

a {
  font-size: 24px;
}

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

hr {
  background-color: var(--stone-150);
  height: 1px;
  margin: 32px 0;
  border: none;
}

.container {
  background-color: var(--stone-100);
  padding: 0;
  margin: 0;
}

.header-container {
  background-color: var(--white);
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.header-container img {
  width: 64px;
}

.site-title {
  color: inherit;
  font-size: 48px;
  text-decoration: none;
  margin: 0 24px;
  display: inline;

  font-family: "Young Serif", serif;
  color: var(--brown-900);
}

.main-container {
  max-width: 580px;
  margin: 0 auto;
  padding: 1px 0;
  background-color: var(--white);
}

.recipe {
  color: var(--stone-600);
}

.recipe-content {
  padding: 0 24px;
}
.recipe-title {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--stone-900);
}

.recipe-heading {
  color: var(--brown-800);
  font-family: "Young Serif", serif;
  font-weight: 500;
}

.recipe header,
.recipe section {
  margin-bottom: 24px;
}

.recipe-preparation {
  background-color: var(--rose-50);
  padding: 15px;
  border-radius: 24px;
}
.recipe-preparation h2 {
  margin: 0;
  margin-left: 16px;
  color: var(--rose-800);
  font-family: "Outfit";
  font-weight: 600;
}

.recipe-preparation .recipe-list li::marker {
  color: var(--rose-800);
}

.recipe-list {
  padding-left: 28px;
}

.recipe-list li {
  margin: 12px 0;
  padding-left: 24px;
}

.recipe-list li::marker {
  color: var(--brown-800);
  font-weight: bold;
}

.recipe-table {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
}

.recipe-table tr:nth-child(n + 2) {
  border-top: 1px solid #ccc;
}

.recipe-table td,
.recipe-table th {
  padding: 16px;
}

.recipe-table th {
  font-weight: 400;
}

.recipe-table td {
  color: var(--brown-800);
  font-weight: 600;
}

.recipe-cards-list {
  padding: 0;
  margin: 0 24px;
}

.recipe-cards-list li {
  list-style: none;
  margin: 24px auto;
}

.recipe-card {
  background: var(--stone-100);
  border: 2px solid var(--brown-900);
  border-radius: 48px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12);
}

.recipe-card a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.recipe-card h2 {
  margin: 12px auto;
  font-size: 48px;
  color: var(--brown-800);
}

.recipe-card img {
  height: 320px;
  object-fit: cover;
}
