<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="{{ recipe.description }}" />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon/favicon-16x16.png"
    />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap"
      media="print"
      onload="this.media = 'all'"
    />

    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap"
        rel="stylesheet"
      />
    </noscript>

    <title>{{ recipe.title }}</title>

    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body class="container">
    <header class="header-container">
      <a href="../index.html" title="homepage"
        ><img
          src="../assets/logo-500x500.png"
          alt="Website Logo"
          width="500"
          height="500"
      /></a>
      <a href="../index.html" class="site-title">Recipes</a>
    </header>
    <main class="main-container">
      <article class="recipe">
        <header>
          {% set img = recipe.image %}
          <img
            src="{{ img.src }}"
            alt="{{ img.alt }}"
            width="{{ img.width }}"
            height="{{ img.height }}"
          />
          <div class="recipe-content">
            <h1 class="recipe-title">{{ recipe.title }}</h1>
            <p>{{ recipe.description }}</p>
          </div>
        </header>
        <div class="recipe-content">
          <section
            class="recipe-preparation"
            aria-labelledby="preparation-time-heading"
          >
            <h2 id="preparation-time-heading" class="recipe-heading">
              Preparation time
            </h2>
            <ul class="recipe-list">
              {% for time in recipe.preparation_time %}
              <li>{{ time }}</li>
              {% endfor %}
            </ul>
          </section>
          <section aria-labelledby="ingredients">
            <h2 id="ingredients-heading" class="recipe-heading">Ingredients</h2>
            <ul class="recipe-list">
              {% for ingredient in recipe.ingredients %}
              <li>{{ ingredient }}</li>
              {% endfor %}
            </ul>
          </section>
          <hr />
          <section aria-labelledby="steps-heading">
            <h2 id="steps-heading" class="recipe-heading">Steps</h2>
            <ol class="recipe-list">
              {% for step in recipe.steps %}
              <li>{{ step }}</li>
              {% endfor %}
            </ol>
          </section>
        </div>
      </article>
    </main>
  </body>
</html>
